@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,200;0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #666666;
}

.section {
    height: 100vh;
    display: flex;
    padding: 40px;
    &--first {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #666666;
    }
    &--second {
        justify-content: center;
        background-color: #6C6C6C;
    }
}

h1, h2 {
    color: #F1F1F1;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    bottom: 5%;
    right: 5%;
    border: 4px solid #E2C0B9;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    &__btn {
        display: block;
        position: relative;
        top: 2px;
        border: solid #E2C0B9;
        border-width: 0 4px 4px 0;
        padding: 4px;
        transform: rotate(-135deg);
    }
    &:hover {
        border-color: #9D2E1A;
        .back-to-top__btn {
            border-color: #9D2E1A;
        }
    }
}

.show {
    display: block !important;
}

.animated-scroll {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    &__text {
        margin-bottom: 10px;
        font-style: italic;
        color: #D8D8D8;
    }
    &__btn {
        border: 2px solid #D8D8D8;
        border-radius: 15px;
        width: 40px;
        height: 60px;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: 20%;
            opacity: 0.8;
            left: 50%;
            transform: translateX(-50%);
            background-color: #D8D8D8;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        &:hover {
            &::after {
                animation: fadein 1s alternate;
            }
        }
    }
}

@keyframes fadein {
    from {
        top: 20%;
        opacity: 0.8;
    }
    to {
        top: 70%;
        opacity: 0;
        animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
}